html {
  position: relative;
  /* /min-height: 100%; */

}
body {
  /* text-align: center; */
}
header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2B2B2B;
}
.left{
    text-align: left;
}
.right{
  margin-left: 500px;
}
header ul {
  margin: 0;
}
 header ul a {
    color: white;
    text-decoration: none;
}
header li {
  list-style: none;
  display: inline;
  margin-top: 50px;
  margin-right:25px;
}
header ul:after {
}
.main-header {
  display: flex;
  height: 300px;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}

.imgs {
  display: block;
  width: 13%;
}
.about {
 display: block;
 text-align: center;
align-items: center;
}
.about h1{
  font-size: 1.5rem;
}
.about p{
  font-size: 0.8rem;
}
/* ​ */
.function {
  background-color: #D3D3D3;
  text-align: center;
}
.function-images {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
}
.function-image p{
  font-size: 0.8rem;
}
.function-image img{
  width: 50px;
  height: 60px;
}
.function-image {
  flex:1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 10px;
/* display: inline-block; */
}
footer {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #283A4B;
    font-size: 0.8rem;
    color: white;
}
footer p {
  padding: 0;
  margin: 0;
}
